.heading {
  text-align: center;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.list-content {
  display: flex;
}

.list-wrapper {
  margin: 10px;
  border: 1px solid #dedede;
  padding: 12px;
  min-width: 200px;
  border-radius: 4px;
}

.card-wrapper {
  padding: 8px;
  cursor: pointer;
  border: 1px solid #d4e4f2;
  color: #284255;
  border-radius: 4px;
  padding: 16px;
  background-color: #f8fcff;
  margin: 12px 0;
}

.card-wrapper svg {
  float: right;
}

.no-cards,
.no-lists {
  margin-top: 10%;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.add-card {
  margin: 12px 0;
}

.add-list {
  float: right;
  margin-right: 2%;
}

.add-card-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(18, 52, 77, 0.5);
}

.modal-wrapper {
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 70vh;
  width: 800px;
}

.add-card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 60%;
  margin-left: 15%;
}

.card-name {
  margin: 16px 0
}

.card-desc {
  margin-bottom: 16px;
}

.list-name {
  margin: 16px 0
}